.grid {
  display: grid;
  grid-template-columns: 150px 150px 200px;
/*	rows will automatically form by using the height of the tallest item.*/
/*
 or  grid-auto-rows: 350px;
or	grid-template-rows: 100px 500px 50px;
*/
  grid-template-areas: 
    "sidebar header header" 
    "sidebar content content"
    "sidebar footer footer"
	      "sidebar footer footer";

}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.big {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.grid-item {
  background: #B823C1;
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
    padding: 3em 2em;
    background: #FF5670;
}